extends layout

block content
  div.center
    h1.offix Offi<span>X</span>
    h1.title Account
    hr
    table
      tr.alternating
        td
          strong Username
        td= username
      tr.alternating
        td
          strong Real Name
        td= realName
      tr.alternating
        td
          strong Admin?
        td= isAdmin
      tr.alternating
        td
          strong Last Seen
        td= lastSeen
      tr(class="alternating #{shouldBroadcast ? 'positive':'negative'}")
        td
          strong (Privacy) Should Broadcast
        form.inline(action='account/setprivacy', method='post')
          td.toggle-button
            input(type='hidden', name='shouldBroadcast', value='#{shouldBroadcast}')
            input.toggle(type='submit', value=('Turn ' + (shouldBroadcast ? 'Off' : 'On')))
      each addr in addresses
        tr.alternating
          td
            strong address
          td.mac #{addr}
            div.remove-button.glyphicon.glyphicon-remove
              form(action='/account/deleteaddress', method='post')
                input(type='hidden', name='address', value='#{addr}')
                span
                input(type='submit', value='')
    hr
    form(name='add', action='/account/addaddress', method='post')

      div.form-group.input-group
        span.input-group-addon
          i.glyphicon.glyphicon-signal
        input.form-control(type='text', name='address', placeholder='Add Mac Address (01:23:45:67:89:ab)')

      div.form-group
        input.btn.btn-def.btn-block.register(type='submit', value='Add')

      a.back(href="/") &lt; Back
