extends layout

block content
  div.center.admin-center
    h1.offix Offi<span>X</span>
    h1.title Admin
    table
      tr.alternating(id="table-titles")
        td
          strong username
        td
          strong real name
        td
          strong last seen
        td
          strong admin?
        td
          strong broadcast?
        td
          strong mac addresses
      each user in users
        tr.alternating
          td= user.username
          td= user.realName
          td= user.lastSeen
          td= user.isAdmin
          td(class="#{user.shouldBroadcast ? 'positive':'negative'}")
          td
            table
              each addr in user.addresses
                tr
                  td= addr
